.Checkbox, .CheckboxCheck {
  border: 2px solid rgb(var(--lightGray));
  border-radius: 4px;
  width: 16px;
  height: 16px;
  background: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}
.CheckboxCheck {
  border: 2px solid rgb(var(--red));
  background: rgb(var(--red));
  color: white;
}
.CheckboxCheck:hover {
  filter: brightness(110%);
}
.Checkbox:hover {
  background: rgb(244, 244, 244);
}
.Checkbox svg {
  opacity: 0;
  visibility: hidden;
}
