.Container {
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  padding: 9px 5px;
  border-radius: 3px;
  position: relative;
}
.Container:hover {
  background: rgb(235, 235, 235);
}
.Title, .TitleCompleted {
  margin-left: 20px;
  font-size: 14px;
  max-width: calc(100% - 125px);
  word-wrap: break-word;
}
.TitleCompleted {
  text-decoration: line-through;
  text-decoration-color: rgb(42, 42, 42);
}
.CloseBtn {
  display: none;
  margin: 0;
  color: rgb(var(--darkGray));
}
.CloseBtn:hover {
  color: black;
}
.Container:hover .CloseBtn, .Container:hover .Btn {
  display: inline-flex;
}
.Btn {
  color: rgb(var(--darkGray));
  width: 26px;
  height: 26px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  display: none;
  margin-right: 3px;
}
.Btn:hover {
  color: black;
  background: rgba(0,0,0,0.05);
}
.Btns {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  cursor: pointer;
}
.EditItem {
  width: 100%;
  margin-left: 20px;
}
.Input {
  border: 2px solid rgb(230,230,230);
  border-radius: 3px;
  background: white;
  padding: 7px;
  width: 100%;
  overflow-y: auto;
}
.AccountBtn {
  width: 25px;
  height: 25px;
  min-width: 25px;
  margin: 0 3px 0 0;
  background: rgb(225,225,225);
}
.AccountBtn:hover {
  background: rgb(212,212,212);
}
