.SignupBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0;
}
.SignupBtn button {
  color: white;
  background: rgb(var(--red));
  padding: 10px 14px;
  outline: none;
  border: 0;
  font-family: 'Roboto', -apple-system, sans-serif;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  transition: all 250ms;
  cursor: pointer;
}
.SignupBtn button:hover {
  background: rgb(var(--darkRed));
}
.Illustrations {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  margin: auto;
}
.Illustration svg {
  padding: 0 20px;
  box-sizing: border-box;
  max-height: 220px;
  max-width: 428px;
}
.Main {
  margin-top: 115px;
}
.Main h1 {
  text-align: center;
  max-width: 850px;
  font-size: 40px;
  margin: 50px auto 0;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .Main h1 {
    font-size: 35px;
  }
}
@media (max-width: 450px) {
  .Main h1 {
    font-size: 30px;
  }
}
.InfoContainer {
  max-width: 800px;
  margin: 80px auto;
  padding: 0 10px;
  box-sizing: border-box;
}
.Info {
  text-align: center;
  width: 100%;
  padding: 0 20px 30px;
  box-sizing: border-box;
  background: white;
  border-radius: 4px;
  box-shadow: var(--box-shadow4);
}
.Info h1 {
  margin: 0;
  padding: 25px 0 10px;
  color: rgb(var(--red));
}
.TechLink {
  display: block;
  color: rgb(var(--red));
  padding: 5px;
  width: 150px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 200ms;
}
.TechLink:hover {
  background: rgb(var(--red));
  color: white;
}
