.Title {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: 20px;
}
.Title svg {
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0 20px 0 5px;
}
.AddComment {
  display: flex;
  align-items: flex-start;
}
.CommentInputShow, .CommentInputHide {
  margin: 0 12px 0 7px;
  width: 100%;
}
.CommentInputShow {
  box-shadow: var(--box-shadow4);
  background: white;
  border-radius: 3px;
  border: 1.2px solid rgb(218, 218, 218);
}
.CommentInputHide .SaveBtn {
  display: none;
}
.Input, .FocusInput {
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  border: 1.2px solid rgb(218, 218, 218);
  resize: none;
  overflow: hidden;
  font-family: 'Roboto', -apple-system, sans-serif;
  outline: none;
  box-shadow: 0 1px 2px -1px rgb(204, 204, 204);
  box-sizing: border-box;
}
.Input:hover {
  box-shadow: 0 1px 2px -1px rgb(154, 154, 154);
}
.FocusInput {
  cursor: text;
  border: 1px solid transparent;
  box-shadow: none;
}
.AccountBtn button {
  margin: 2px 5px 0 0;
  background: rgb(219, 219, 219);
}
.AccountBtn button:hover {
  background: rgb(195, 195, 195);
}
.SaveBtn button {
  background: rgba(22, 179, 29, 0.8);
  padding: 8px 10px;
  margin: 5px 0 8px 10px;
  font-weight: 400;
}
.SaveBtn button:hover, .SaveBtn button:active {
  background: rgb(22, 179, 29);
}
.SaveBtn button:disabled {
  background: rgb(235, 235, 235);
}
