.Container {
  top: 5px;
  right: 5px;
  width: 300px;
  padding: 10px 0;
  font-size: 15px;
  overflow-y: auto;
  margin-bottom: 5px;
}
.Container::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Container::-webkit-scrollbar {
  width: 8px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.Option {
  padding: 18px 5px;
  margin: 0 10px;
  border-bottom: 1.2px solid #ddd;
}
.Option div {
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(87, 87, 87);
}
.Option span {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.Option svg {
  font-size: 18px;
  margin-left: 5px;
  position: relative;
  top: 3.5px;
}
.Option a {
  text-decoration: underline;
  color: black;
}
