.Btns {
  display: flex;
  align-items: center;
}
.SubmitBtn {
  background: white;
}
.SubmitBtn button {
  padding: 7px 10px;
  border-radius: 3px;
  border: 0;
  outline: none;
  color: white;
  background: rgb(var(--green));
  cursor: pointer;
  font-size: 15px;
}
.SubmitBtn button:hover {
  background: rgba(var(--green), 0.85);
}
.SubmitBtn button:active {
  background: rgb(19, 150, 25);
}
.CloseBtn svg {
  width: 30px !important;
  height: 30px !important;
}
.SubmitBtn button:disabled {
  background: rgb(221,221,221);
}
