.Container {
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  border: 1px solid rgb(227, 227, 227);
  background: white;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
}
.ContainerAfter::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 1px;
  visibility: hidden;
  bottom: -15px;
}
