.Modal {
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  border: 1px solid rgb(227, 227, 227);
  background: white;
  position: absolute;
  padding: 5px 5px 10px;
  box-sizing: border-box;
  width: 275px;
  z-index: 2;
  max-height: 300px;
  overflow: auto;
}
.Modal::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Modal::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Modal::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.Container {
  top: 105px;
  right: 0;
}
@media (max-width: 610px) {
  .Container {
    top: auto;
    right: auto;
    left: 0;
    bottom: 80px;
  }
}
.FromListContainer {
  top: 23px;
  left: 0;
}
.SubTitle {
  color: rgb(var(--darkGray));
  font-size: 12.5px;
  font-weight: 500;
  padding: 0 5px;
}
.Member {
  padding: 5px;
  background: rgb(248, 248, 248);
  color: rgb(83, 83, 83);
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.Member:hover {
  background: rgb(244,244,244);
}
.Member:active {
  background: rgb(254, 190, 183);
}
.Member button {
  min-width: 32px;
  background: rgb(230,230,230);
}
.Member button:hover {
  background: rgb(220,220,220);
}
.Member svg {
  margin-left: auto;
  margin-right: 5px;
  font-size: 16px;
  min-width: 16px;
}
.Input {
  width: 97%;
  margin: 10px auto;
}
.Name {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
