.Card {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  background: white;
  box-shadow: var(--cardShadow);
  cursor: pointer;
  position: relative;
  margin-bottom: 8px;
}
.Card:hover {
  background: rgb(246, 246, 246);
}
.Card:hover .EditIcon {
  display: block;
}
.EditIcon {
  color: rgb(136, 136, 136);
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
}
.Labels {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.Labels div {
  display: inline-block;
  height: 8px;
  width: 40px;
  border-radius: 15px;
  margin: 2px;
}
.Btns {
  font-size: 12.5px;
  color: rgb(89, 89, 89);
  display: flex;
  align-items: center;
}
.Btn, .CommentBtn {
  margin: 8px 5px 0 5px;
  display: inline-flex;
  align-items: center;
}
.Btn svg {
  margin-right: 4px;
}
.CommentBtn svg {
  margin-right: 4px;
  font-size: 11px;
}
.BtnComplete {
  border-radius: 3px;
  background: rgb(var(--green));
  color: white;
  padding: 3px 5px;
}
.Members {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.Member {
  position: relative;
}
.AccountBtn button {
  margin: 2px;
  width: 28px;
  height: 28px;
  font-size: 13.5px;
  background: rgb(228,228,228);
}
.AccountBtn button:hover {
  background: rgb(220,220,220);
}
.Title {
  word-wrap: break-word;
}
