.Card {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
  font-size: 14px;
  background: white;
  box-shadow: var(--cardShadow);
  cursor: pointer;
  position: relative;
  margin-bottom: 8px;
}
.Card:hover {
  background: rgb(246, 246, 246);
}
.Card:hover .EditIcon {
  display: block;
}
.EditIcon {
  color: rgb(136, 136, 136);
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
}
.Labels {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.Label {
  display: inline-block;
  border-radius: 15px;
  margin: 2px;
  overflow: hidden;
  min-width: 40px;
  max-width: 40px;
  height: 8px;
  transition: height 300ms, max-width 200ms 250ms, min-width 200ms 250ms;
}
.LabelTitle {
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 6px;
  box-sizing: border-box;
  font-size: 13px;
  color: white;
  font-weight: 500;
}
.Label .LabelTitle span {
  opacity: 0;
  transition: opacity 250ms;
}
.ExpandLabel .LabelTitle span {
  opacity: 1;
  transition: opacity 250ms 300ms;
}
.DarkenLabel .LabelTitle {
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}
.ExpandLabel {
  border-radius: 5px;
  min-width: 50px;
  max-width: 100%;
  height: 15px;
  transition: max-width 300ms, height 200ms 250ms;
}
.Btns {
  font-size: 12.5px;
  color: rgb(89, 89, 89);
  display: flex;
  align-items: center;
  margin-left: -5px;
}
.Btn {
  margin: 8px 5px 0 5px;
  display: inline-flex;
  align-items: center;
}
.Btn svg {
  margin-right: 4px;
}
.CommentBtn svg {
  font-size: 11px;
}
.DescBtn svg {
  margin-right: 0;
}
.Members {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.Member {
  position: relative;
}
.AccountBtn {
  margin: 2px;
  width: 28px;
  height: 28px;
  font-size: 13.5px;
  background: rgb(228,228,228);
}
.AccountBtn:hover {
  background: rgb(220,220,220);
}
.Title {
  word-wrap: break-word;
}
.DueDateBtn {
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
}
.DueDateBtn:hover {
  background: rgba(0,0,0,0.05);
}
.BtnComplete {
  background: rgb(var(--green));
  color: white;
}
.BtnComplete:hover {
  background: rgb(19, 150, 25);
}
.PastDue {
  background: rgb(242, 121, 104);
  color: white;
}
.PastDue .BoxIcon, .DueSoon .BoxIcon {
  border: 1.2px solid white;
}
.PastDue:hover {
  background: rgb(242, 77, 55);
}
.DueSoon {
  background: rgb(241, 222, 80);
  color: white;
}
.DueSoon:hover {
  background: rgb(230, 206, 30);
}
.ClockIcon, .DueDateCompleteIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.BoxIcon {
  display: none;
  width: 9px;
  height: 9px;
  margin-right: 5px;
  border-radius: 3px;
  border: 1.2px solid rgb(89, 89, 89);
}
.DueDateCompleteIcon {
  display: none;
}
.DueDateBtn:hover .ClockIcon {
  display: none;
}
.BtnComplete:hover .DueDateCompleteIcon {
  display: inline-flex;
}
.DueDateBtn:hover .BoxIcon {
  display: block;
}
