.Dropdown {
  width: 100%;
  background: white;
  animation: slideOut 200ms ease-in forwards;
  overflow: hidden;
}
@keyframes slideOut {
  from { max-height: 0; }
  to { max-height: 450px; }
}
.Hide {
  display: none;
}
