.Container {
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  border: 1px solid rgb(227, 227, 227);
  background: white;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 5px 10px 5px;
  box-sizing: border-box;
  width: 350px;
  z-index: 2;
}
@media (max-width: 610px) {
  .Container {
    bottom: 95px;
    top: auto;
    right: auto;
    left: 15px;
  }
}
.Selects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.ListSelect {
  width: 60%;
}
.PositionSelect {
  width: 40%;
  margin-left: 5px;
}
.ActiveOption {
  background: rgb(var(--red), 0.5) !important;
}
.MoveBtn button {
  background: rgb(var(--green));
  margin: 15px 10px 5px;
  font-weight: 400;
  font-size: 15px;
  padding: 5px 10px;
}
.MoveBtn button:hover {
  background: rgba(var(--green), 0.85);
}
.MoveBtn button:active {
  background: rgb(19, 150, 25);
}
