.ShowModal, .HideModal {
  position: fixed;
  top: 45px;
  right: 5px;
  width: 300px;
  height: 400px;
  background: white;
  transition: 250ms;
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 15px;
  overflow: hidden;
}
.HideModal {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}
.Title {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  color: rgb(112, 112, 112);
  font-size: 15px;
  line-height: 29px;
  margin: 0 10px;
}
.Title button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.Options {
  padding-top: 15px;
}
.Options div {
  padding: 8px 10px;
  cursor: pointer;
}
.Options div:hover {
  background: rgb(241, 241, 241);
}
.ShowBackBtn button, .HideBackBtn button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
.HideBackBtn button {
  left: -50px;
}
