.Modal {
  position: fixed;
  top: 45px;
  right: 5px;
  width: 300px;
  background: white;
  transition: 250ms;
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  padding: 10px 0 15px;
  box-sizing: border-box;
  font-size: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100% - 55px);
}
.HideModal {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}
.Modal::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Modal::-webkit-scrollbar {
  width: 8px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Modal::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.Title {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  color: rgb(112, 112, 112);
  font-size: 15px;
  line-height: 29px;
  margin: 0 10px;
}
.Title button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.Options {
  padding-top: 15px;
}
.Option, .Link a {
  padding: 8px 0 8px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.Link a {
  display: block;
  color: inherit;
}
.LineBreak {
  margin: 15px auto;
  display: block;
  width: 280px;
  height: 0.8px;
  background: #ddd;
}
.Option:hover, .Link:hover {
  background: rgb(241, 241, 241);
}
.ShowBackBtn button, .HideBackBtn button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
.HideBackBtn button {
  left: -50px;
}
.InviteNotifIcon {
  background: rgb(var(--red));
  display: inline-block;
  border-radius: 25px;
  width: 17px;
  height: 17px;
  margin-left: 10px;
  color: white;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}
