.Container {
  top: 30px;
  left: 0;
  padding: 5px 5px 10px;
  width: 300px;
  text-align: center;
  font-size: 15px;
}
@media (max-width: 900px) {
  .Container {
    right: 0;
    left: auto;
  }
}
.DeleteBtn {
  background: rgb(219, 55, 29);
  font-weight: 400;
  font-size: 15px;
  padding: 5px 10px;
  display: flex;
  width: calc(100% - 20px);
  margin: 0 auto;
}
.DeleteBtn:hover, .DeleteBtn:active {
  background: rgb(213, 5, 5);
}
