.Container {
  padding: 5px 5px 10px;
  width: 300px;
  right: 0;
  top: 185px;
}
@media (max-width: 610px) {
  .Container {
    top: auto;
    left: 0;
    right: auto;
    bottom: 40px;
  }
}
.Option {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 7px 5px 7px 10px;
  color: rgb(80,80,80);
  position: relative;
}
.AddBtn svg, .FieldIcon svg {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  min-width: 16px;
  min-height: 16px;
}
.Option:hover, .ActiveOption {
  background: rgb(241, 241, 241);
}
.BackBtn {
  position: absolute;
  top: 5px;
  left: 5px;
}
.Title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 210px;
}
.FieldIcon, .Btns div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.DateField .FieldIcon svg {
  width: 13px;
  height: 13px;
  min-width: 13px;
  min-height: 13px;
  margin: 0 7px 0 1.5px;
}
.AddBtn {
  cursor: pointer;
  margin-top: 10px;
  color: rgb(100,100,100);
}
.Btns {
  position: absolute;
  right: 5px;
  display: none;
  align-items: center;
}
.Btns div {
  cursor: pointer;
  border-radius: 4px;
  padding: 1px;
  color: rgb(var(--darkGray));
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  margin-right: 1px;
}
.Btns div:hover {
  background: rgb(220,220,220);
  color: black;
}
.DeleteBtn {
  margin: 0;
}
.DeleteBtn svg {
  width: 19px;
  height: 19px;
}
.EditBtn svg {
  width: 14px;
  height: 14px;
}
.SaveBtn svg {
  width: 16px;
  height: 16px;
}
.Option:hover .Btns, .ActiveOption .Btns {
  display: flex;
}
.TitleInput {
  width: 200px;
  padding: 6px;
  font-size: 14px;
  border-radius: 4px;
  background: white;
  border: 2px solid rgb(var(--red));
  outline: none;
  box-sizing: border-box;
}
