.Container {
  width: 100%;
  margin: 10px auto 20px;
  display: flex;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}
.MemberMenu {
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  padding: 20px 20px 0 0;
  box-sizing: border-box;
}
.FilterInput {
  width: 100%;
  max-width: 250px;
  margin: 0 0 10px;
  font-size: 14px;
}
.Members {
  flex-grow: 1;
  max-width: 1000px;
}
.Member {
  margin-top: 20px;
  position: relative;
}
.InviteBtn {
  outline: none;
  padding: 6px 12px;
  font-size: 14px;
  background: rgb(var(--green));
  border: 0;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 250ms;
  width: 100%;
  box-sizing: border-box;
  max-width: 250px;
}
.InviteBtn:hover {
  background: rgba(var(--green), 0.85);
}
.InviteBtn:active {
  background: rgb(21, 145, 27);
}
.InviteBtn svg {
  margin-right: 5px;
  min-width: 16px;
}
.MembershipBtn {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 90px;
  justify-content: flex-start;
  padding: 6px 8px;
}
.MembershipBtn svg {
  min-width: 16px;
  margin-left: auto;
}
