.Container {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.Btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Btn, .Active {
  width: 120px;
  border-radius: 4px 4px 0 0;
  outline: none;
  border: 0;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  background: rgb(220,220,220);
  cursor: pointer;
  transition: background 200ms;
  color: black;
  text-align: center;
  position: relative;
  top: 1px;
  z-index: 2;
}
.Btn:hover {
  background: rgb(210,210,210);
}
.Active {
  background: white;
  border: 1px solid rgb(230, 230, 230);
  border-bottom-color: white;
}
