.Container {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.Btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Btns a {
  width: 120px;
  border-radius: 4px;
  outline: none;
  border: 0;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  background: rgb(220,220,220);
  cursor: pointer;
  transition: background 200ms;
  color: black;
  text-align: center;
}
.Btns a:hover {
  background: rgb(210,210,210);
}
.Active {
  background: rgb(200,200,200) !important;
}
