.Container {
  margin: 15px 18px 10px 47px;
}
@media (max-width: 610px) {
  .Container {
    margin: 10px;
  }
}
.Title {
  color: rgb(var(--darkGray));
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.Input {
  display: flex;
  align-items: center;
}
.Btn {
  margin-left: 5px;
}
