.Container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.Title {
  color: rgb(var(--darkGray));
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.Input {
  display: flex;
  align-items: center;
}
.Btn {
  margin-left: 5px;
}
.StartBtn {
  margin-right: 12px;
}
.DateContainer {
  margin-bottom: 10px;
}
.DueSoon, .OverDue {
  margin-left: 10px;
  font-size: 12px;
  border-radius: 3px;
  padding: 2.5px;
  line-height: 100%;
  background: rgb(242, 121, 104);
  color: white;
  box-sizing: border-box;
}
.DueSoon {
  color: inherit;
  background: rgb(241, 222, 80);
}
