.Modal {
  max-width: 400px;
  width: 96%;
  top: 145px;
  left: max(calc(50% - 200px), 2%);
  padding: 5px;
  font-size: 15px;
}
.Modal p {
  padding: 0 15px;
  text-align: center;
}
.Input {
  max-width: 300px;
  width: 96%;
  margin: 10px auto;
}
.DeleteBtn {
  display: block;
  background: rgb(219, 55, 29);
  color: white;
  margin: 20px auto;
  width: 96%;
  max-width: 300px;
}
.DeleteBtn:hover, .DeleteBtn:active {
  background: rgb(213, 5, 5);
}
.DeleteBtn:disabled {
  background: rgb(200,200,200);
  cursor: not-allowed;
}
