.Modal {
  position: absolute;
  max-width: 400px;
  width: 96%;
  background: white;
  box-shadow: var(--box-shadow4);
  border-radius: 3px;
  top: 145px;
  border: 1px solid #ddd;
  left: max(calc(50% - 200px), 2%);
  padding: 5px;
  box-sizing: border-box;
  z-index: 2;
  font-size: 15px;
}
.Modal::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  visibility: hidden;
  bottom: -20px;
}
.Modal p {
  padding: 0 15px;
  text-align: center;
}
.Input {
  max-width: 300px;
  width: 96%;
  margin: 10px auto;
}
.DeleteBtn {
  display: block;
  background: red;
  border-radius: 4px;
  outline: none;
  border: 0;
  color: white;
  padding: 8px 20px;
  font-size: 15px;
  margin: 20px auto;
  cursor: pointer;
  transition: background 250ms;
}
.DeleteBtn:hover {
  background: rgb(207, 4, 4);
}
.DeleteBtn:disabled {
  background: rgb(200,200,200);
  cursor: not-allowed;
}
