.NavBar {
  background: rgb(var(--red));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
  z-index: 10;
}
.Title {
  position: absolute;
  width: 100px;
  text-align: center;
  left: calc(50% - 50px);
}
@media (max-width: 330px) {
  .Title {
    position: static;
  }
}
.Title a {
  font-weight: 500;
  color: white;
  font-size: 20px;
}
.Section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}
