.Button, .AccountBtn, .DeleteBtn {
  height: 32px;
  padding: 0 6px;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 250ms;
  font-size: 16px;
  font-family: 'Roboto', -apple-system, sans-serif;
}
.Button, .DeleteBtn {
  line-height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(255,255,255,0.3);
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  margin: 0 3px;
}
.Button span {
  margin-left: 5px;
}
.Button a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.Button:hover {
  background: rgb(255,255,255,0.4);
}
.Button:active {
  background: rgb(255,255,255,0.5);
}
.AccountBtn {
  border-radius: 25px;
  width: 32px;
  text-transform: uppercase;
  margin: 0 9px 0 3px;
  background: rgb(240, 240, 240);
  font-weight: bold;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.AccountBtn:hover {
  background: rgb(232,232,232);
}
.CloseBtn, .ExpandBtn, .CollapseBtn, .BackBtn, .CloseBtnCircle {
  padding: 1px;
  border: 0;
  cursor: pointer;
  transition: 250ms;
  outline: none;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 5px;
}
.BackBtn {
  padding: 0;
  height: 26px;
  width: 26px;
  line-height: 26px;
}
.CloseBtn:hover, .BackBtn:hover, .CloseBtnCircle:hover {
  background: rgba(0,0,0,0.05);
}
.ExpandBtn, .CollapseBtn {
  color: rgb(55, 55, 55);
  transform: rotate(90deg);
  transition: 200ms;
  font-size: 16px;
}
.CollapseBtn {
  transform: rotate(0deg);
}
.ActionBtn {
  padding: 7px 10px;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  outline: none;
  transition: 250ms;
  background: rgb(235, 235, 235);
  color: rgb(83, 83, 83);
  font-size: 14px;
}
.ActionBtn:hover {
  background: rgb(var(--lightGray));
}
.ActionBtn:active {
  background: rgb(254, 190, 183);
}
.CloseBtnCircle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  border-radius: 25px;
  z-index: 3;
}
.CloseBtnCircle svg {
  width: 30px !important;
  height: 30px !important;
}
.AvatarBtn {
  border-radius: 25px;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 9px 0 3px;
  background: rgb(240, 240, 240);
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
}
.AvatarBtn:hover {
  filter: brightness(1.1);
}
.AvatarBtn img {
  width: 100%;
  height: 100%;
}
.AdminIcon {
  font-size: 20px;
  position: absolute;
  color: black;
  bottom: -7px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DeleteBtn {
  background: rgb(219, 55, 29);
  font-weight: 400;
  font-size: 15px;
  padding: 5px 10px;
  display: flex;
  width: calc(100% - 20px);
  margin: 0 auto;
}
.DeleteBtn:hover, .DeleteBtn:active {
  background: rgb(213, 5, 5);
}
.DeleteBtn:disabled {
  background: rgb(200,200,200);
  cursor: not-allowed;
}
