.Modal {
  max-width: 900px;
}
.Title {
  margin: 25px 0;
  font-weight: 500;
  font-size: 17.5px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.NoData {
  padding: 20px;
  text-align: center;
}
