.Container {
  position: absolute;
  width: 300px;
  background: white;
  box-shadow: var(--box-shadow4);
  border-radius: 3px;
  top: -125px;
  border: 1px solid #ddd;
  left: calc(50% - 150px);
  padding: 5px;
  box-sizing: border-box;
  z-index: 2;
}
.Label {
  font-size: 13px;
  margin: 4px 5px;
  font-weight: 500;
  color: rgb(120,120,120);
}
.Container input {
  width: calc(100% - 10px);
  margin: 0 auto 10px;
}
.SaveBtn {
  background: rgb(var(--green));
  border-radius: 4px;
  outline: none;
  border: 0;
  color: white;
  padding: 8px 10px;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
}
.SaveBtn:hover {
  background: rgb(var(--green), 0.8);
}
.SaveBtn:disabled {
  background: rgb(170,170,170);
}
.ErrMsg, .HideErrMsg {
  text-align: center;
  padding: 10px;
  color: red;
  font-size: 14px;
  transition: all 300ms;
}
.HideErrMsg {
  opacity: 0;
  visibility: hidden;
}
.NewPassContainer {
  position: relative;
}
.EyeIcon {
  position: absolute;
  top: 7px;
  right: 12px;
  cursor: pointer;
  color: rgb(100,100,100);
}
.NewPassContainer input {
  padding-right: 30px;
}
.SuccessMsg {
  color: rgb(var(--green));
  font-size: 14px;
  text-align: center;
  padding: 10px;
}
.SuccessMsg svg {
  position: relative;
  top: 3px;
}
