.Container {
  margin: 10px;
}
.Title {
  color: rgb(var(--darkGray));
  font-size: 14px;
  font-weight: 500;
}
.Member {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.AccountBtn, .AddBtn {
  margin: 5px 5px 0 0;
  background: rgb(230,230,230);
}
.AccountBtn:hover, .AddBtn:hover {
  background: rgb(220,220,220);
}
.AddContainer {
  position: relative;
}
