.Container, .DueDateContainer {
  top: 15px;
  right: 15px;
  padding: 5px;
  width: 350px;
  height: 430px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 610px) {
  .Container {
    bottom: 15px;
    top: auto;
  }
}
.DatePicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.DatePicker * {
  outline: none;
}
.Input {
  border: 2px solid rgb(var(--lightGray));
  border-radius: 4px;
  padding: 7px;
  background: rgb(244, 244, 244);
  margin: 0 0 5px 40px;
  transition: background 250ms;
}
.Input:hover {
  background: rgb(235,235,235);
}
.Input:focus {
  border: 2px solid rgb(var(--red));
  background: white;
}
.Btns {
  margin: auto 5px 8px;
  display: flex;
  justify-content: space-between;
}
.Btns button {
  font-weight: 400;
  width: 80px;
  padding: 8px 0;
  font-size: 15px;
}
.SaveBtn button {
  background: rgba(var(--green), 0.8);
}
.SaveBtn button:hover, .SaveBtn button:active {
  background: rgb(var(--green));
}
.RemoveBtn button {
  background: rgb(219, 55, 29);
}
.RemoveBtn button:hover, .RemoveBtn button:active {
  background: rgb(213, 5, 5);
}
.Labels {
  position: absolute;
  top: -10px;
  left: 10px;
}
.Labels div {
  color: rgb(var(--darkGray));
  font-size: 13px;
  font-weight: 500;
  margin: 20px 0;
}
.AddStartDateBtn {
  border: 2px solid rgba(var(--lightGray), 0.5);
  border-radius: 4px;
  background: rgb(250, 250, 250);
  margin: 0 0 5px 40px;
  font-size: 13px;
  color: rgb(120,120,120);
  font-weight: 500;
  width: 178.8px;
  height: 29.2px;
  text-align: center;
  line-height: 29.2px;
  cursor: pointer;
  transition: all 250ms;
}
.AddStartDateBtn:hover {
  border: 2px solid rgba(var(--lightGray));
  color: rgb(80,80,80);
  background: rgb(235,235,235);
}
.RemoveStartDateBtn {
  position: absolute;
  right: 22px;
  top: -1.8px;
}
.RemoveStartDateBtn button {
  transform: scale(0.8);
  border-radius: 25px;
  color: white;
  background: rgb(160,160,160);
}
.RemoveStartDateBtn button:hover {
  background: rgb(140,140,140);
}
