.Illustration {
  margin: 100px auto 50px;
  width: 80%;
  display: flex;
  justify-content: center;
}
.Illustration svg {
  max-width: 350px;
}
.Section {
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
.Img {
  display: flex;
  justify-content: center;
  width: 30%;
}
.Img img {
  max-height: 100px;
}
.Info {
  width: 70%;
  text-align: center;
  box-shadow: var(--box-shadow4);
  border-radius: 3px;
  color: rgb(50,50,50);
  padding: 20px;
  box-sizing: border-box;
  background: white;
}
.Info h2 {
  margin: 0;
}
