.Container, .Hide {
  width: 250px;
  height: 100%;
  background: rgb(237,237,237);
  transition: transform 250ms;
  position: absolute;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow4);
}
.Hide {
  transform: translateX(-100%);
}
.Lists {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.Lists::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Lists::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Lists::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.Title {
  font-weight: 500;
  text-align: center;
  border-bottom: 1.2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.ListBtn, .ListBtnActive {
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0;
  box-shadow: var(--box-shadow6);
  border: 1px solid #ddd;
  font-size: 15px;
  cursor: pointer;
  background: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ListBtn:hover, .ListBtnActive:hover {
  background: rgb(246,246,246);
}
.ListBtnActive {
  background: rgb(251,251,251);
  font-weight: 500;
}
