.Container, .Hide {
  width: 250px;
  height: 100%;
  transition: transform 250ms;
  position: absolute;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow2);
  z-index: 0;
  background: rgb(250,250,250);
}
.Hide {
  transform: translateX(-100%);
}
.Lists {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.Lists::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Lists::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Lists::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.Title {
  font-weight: 500;
  text-align: center;
  border-bottom: 1.2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.ListBtn, .ListBtnActive {
  border-radius: 4px;
  margin: 5px 0;
  font-size: 15px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 7px 5px;
  background: rgb(245,245,245);
}
.ListBtn:hover, .ListBtnActive:hover {
  background: rgb(233,233,233);
}
.ListBtnActive {
  font-weight: 500;
  text-decoration: underline;
}
