.NavBarContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.Btns {
  display: flex;
  align-items: center;
}
.NavLinks {
  position: fixed;
  top: 70px;
  left: 0;
  width: 230px;
  height: calc(100% - 70px);
  padding: 10px 20px;
  box-sizing: border-box;
  border-right: 2px solid #eee;
  background: white;
}
@media (max-width: 640px) {
  .Btns {
    display: none;
  }
  .NavLinks {
    display: none;
  }
}
.Dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: white;
  overflow: auto;
  padding: 5px 0 10px;
  max-height: calc(100vh - 70px);
}
.Dropdown a {
  width: 70%;
}
.Dropdown button {
  margin: 0 0 10px;
  height: 40px;
  width: 100%;
  color: rgb(var(--red));
  background: white;
  font-size: 16px;
}
.Dropdown div, .NavLinks div {
  margin: 10px 0;
  cursor: pointer;
  color: rgb(80,80,80);
  font-weight: 500;
}
.NavLinks div {
  margin: 20px 0;
}
.Dropdown div:hover, .NavLinks div:hover {
  text-decoration: underline;
  color: black;
}
.Sep {
  width: 80%;
  border-bottom: 1.2px solid #eee;
}
