.NavBarContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}
.BackBtn {
  padding: 10px !important;
  color: rgb(var(--red));
  background: rgba(var(--red), 0.2);
}
.LoginBtn {
  height: 40px;
  width: 85px;
  color: rgb(var(--red)) !important;
  margin-right: 10px;
  background: rgba(var(--red), 0.2) !important;
}
.LoginBtn:hover, .BackBtn:hover {
  background: rgb(var(--red)) !important;
  color: white !important;
}
.SignupBtn {
  height: 40px;
  width: 85px;
  background: rgb(var(--red)) !important;
  color: white !important;
  border-bottom: 2px solid rgb(var(--darkRed)) !important;
}
.SignupBtn:hover {
  background: rgb(var(--darkRed)) !important;
}
.Btns {
  display: flex;
  align-items: center;
}
.NavLinks {
  position: fixed;
  top: 70px;
  left: 0;
  width: 250px;
  height: calc(100% - 70px);
  padding: 20px;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .Btns {
    display: none;
  }
  .NavLinks {
    display: none;
  }
}
.Dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: white;
  padding: 0 0 10px;
}
.Dropdown a {
  width: 70%;
}
.Dropdown .SignupBtn {
  margin-bottom: 10px;
}
.Dropdown button {
  margin: 5px 0;
  height: 40px;
  width: 100%;
  color: rgb(var(--red));
  background: white;
  font-size: 16px;
}
.Dropdown div, .NavLinks div {
  margin: 10px 0;
  cursor: pointer;
  color: rgb(80,80,80);
  font-weight: 500;
}
.Dropdown div:hover, .NavLinks div:hover {
  text-decoration: underline;
  color: black;
}
.Sep {
  width: 80%;
  border-bottom: 1.2px solid #eee;
}
