.Container {
  width: 300px;
  top: 90px;
  left: 0;
  padding: 5px;
  z-index: 3;
}
.RemoveBtn {
  margin: 0 0 5px 3px;
}
.RemoveBtn button {
  color: black;
  font-size: 15px;
}
.NotAdmin {
  font-size: 15px;
  text-align: center;
  margin: 15px 0;
}
