.Container {
  position: absolute;
  width: 300px;
  background: white;
  box-shadow: var(--box-shadow4);
  border-radius: 3px;
  top: 90px;
  border: 1px solid #ddd;
  left: 0;
  padding: 5px;
  box-sizing: border-box;
  z-index: 3;
}
.RemoveBtn {
  margin: 0 0 5px 3px;
}
.RemoveBtn button {
  color: black;
  font-size: 15px;
}
.NotAdmin {
  font-size: 15px;
  text-align: center;
  margin: 15px 0;
}
