.Modal {
  max-width: 600px;
}
.Title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 30px);
}
.Title svg {
  font-size: 22px;
}
.Name {
  font-size: 20px;
  font-weight: 500;
  margin: 0 5px 0 15px;
}
.Email {
  font-size: 18px;
  font-weight: 500;
  color: rgb(80,80,80);
}
.Activity {
  position: relative;
}
.ErrMsg {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  margin: 20px 0;
}
.Spinner {
  margin: 20px 0;
}
