.Card {
  box-shadow: var(--cardShadow);
  border-radius: 4px;
  height: 40px;
  background: white;
  position: absolute;
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 8px;
}
.Card:hover {
  background: rgb(253,253,253);
}
.Title {
  font-size: 14px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Members {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.Members button {
  margin: 0 0 0 1px;
  width: 30px;
  height: 30px;
}
.OtherMembers {
  font-weight: 400;
  background: rgb(245,245,245);
  font-size: 14px;
}
