.Container {
  position: fixed;
  width: 300px;
  height: 200px;
  background: white;
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 15px;
  margin: 5px 0 0 3px;
  overflow: hidden;
}
.CloseBtn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 7.5px;
}
.BackBtn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2.5px;
  width: auto;
}
.Options div {
  font-size: 14px;
  padding: 8px 10px;
  cursor: pointer;
}
.Options div:hover {
  background: rgb(241, 241, 241);
}
.Disabled, .Disabled span {
  color: rgb(196, 196, 196) !important;
  cursor: default !important;
}
.Disabled:hover {
  background: inherit !important;
}
.Options span {
  display: block;
  font-size: 12px;
  color: rgb(112, 112, 112);
  margin-top: 4px;
}
.Options svg {
  font-size: 14px;
  position: relative;
  left: 4px;
  top: 2px;
}
.Title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  color: rgb(112, 112, 112);
  font-size: 15px;
  line-height: 29px;
  margin: 0 10px;
}
.CannotChange {
  margin: 10px 10px 0 10px;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}
