.Menu {
  position: fixed;
  top: 40px;
  right: 0;
  width: 350px;
  height: calc(100% - 40px);
  background: rgb(250,250,250);
  box-shadow: var(--box-shadow4);
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 15px;
  transition: transform 250ms, opacity 0ms, visibility 0ms;
  overflow-x: hidden;
  overflow-y: auto;
}
.HideMenu {
  transform: translateX(110%);
  opacity: 0;
  visibility: hidden;
  transition: transform 250ms, opacity 0ms 250ms, visibility 0ms 250ms;
}
.Menu::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Menu::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Menu::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.Title {
  position: relative;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1.2px solid #ddd;
  color: rgb(103, 103, 103);
  font-size: 15px;
  line-height: 29px;
  margin: 0 10px;
  font-weight: 500;
}
.CloseBtn button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.ShowBackBtn button, .HideBackBtn button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
.HideBackBtn button {
  left: -50px;
}
.Options {
  padding: 15px 0;
  margin: 0 10px;
  border-bottom: 1.2px solid #ddd;
}
.Option {
  border-radius: 2px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.Option:hover {
  background: rgb(238,238,238);
}
.SmallColor {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 4px;
  display: inline-block;
  background-size: cover;
}
.Option svg {
  margin-right: 8px;
}
.Activities {
  padding: 15px 0;
  margin: 0 10px;
}
.ActivityTitle svg {
  font-size: 20px;
}
@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}
.Content {
  animation: slideIn 200ms forwards;
  padding: 10px;
}
.SettingsIcon {
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.ArchiveIcon {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1px;
}
.ViewAll {
  text-decoration: underline;
  margin: 20px 0 0 45px;
  font-size: 14px;
  color: rgb(110,110,110);
  cursor: pointer;
}
.ViewAll:hover {
  color: rgb(50,50,50);
}
