.Content {
  width: calc(100% - 230px);
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 70px 0 0 230px;
  background: rgb(254,254,254);
}
@media (max-width: 640px) {
  .Content {
    width: 100%;
    margin: 80px 0 0 0;
  }
}
.Content div {
  border-bottom: 1.2px solid #eee;
}
