.NavBar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
  padding: 8px 4px 0 4px;
  transition: width 250ms;
}
.Input input {
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 0 8px;
  border-radius: 4px;
  color: white;
  background: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: background 200ms;
  height: 33px;
  margin: 0 3px;
  box-sizing: border-box;
  max-width: calc(100vw - 30px);
  margin: 0 3px 4px 3px;
}
.InputContracted input {
  max-width: calc(100vw - 380px);
}
.Input input:hover {
  background: rgb(255,255,255,0.4);
}
.Input input:focus {
  cursor: text;
  background: white;
  color: black !important;
}
.StarBtn {
  height: 33px;
  width: 33px;
  line-height: 33px;
  font-size: 14px;
  transition: 200ms;
  margin-bottom: 4px;
}
.StarBtn svg {
  transition: 200ms;
}
.Highlight svg {
  color: rgb(255, 222, 0);
}
.StarBtn:hover svg {
  transform: scale(1.1);
}
.Separator {
  height: 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 10px 4px 9px;
}
.AccountBtn {
  margin: 0 4px 4px 0;
  width: 29px;
  height: 29px;
  font-size: 15px;
  position: relative;
  overflow: visible;
}
.AccountBtn img {
  border-radius: 25px;
}
.Btn {
  height: 33px;
  line-height: 33px;
  padding: 0 7px;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 4px;
}
.MenuBtn, .ViewBtn {
  padding-right: 10px;
}
.ViewBtn svg {
  margin-right: 3px;
  width: 15px;
  height: 15px;
}
.ChevronIcon svg {
  width: 13px;
  height: 13px;
  margin: 12.5px 0 0 5px;
}
.MenuBtns {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Container {
  position: relative;
}
.DarkenBtns .StarBtn, .DarkenBtns .Input input:hover, .DarkenBtns .Btn {
  background: rgba(0,0,0,0.1);
}
.DarkenBtns .StarBtn:hover, .DarkenBtns .Btn:hover {
  background: rgba(0,0,0,0.2);
}
.DarkenBtns .Input input {
  color: rgb(50,50,50);
}
.DarkenBtns2 .StarBtn, .DarkenBtns2 .Btn {
  background: rgba(0,0,0,0.3);
}
.DarkenBtns2 .StarBtn:hover, .DarkenBtns2 .Btn:hover {
  background: rgba(0,0,0,0.4);
}
.TeamBtn svg {
  margin: 0 5px 0 2px;
}
.TeamBtn div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  margin-right: 5px;
}
.ExpandBtn {
  border-radius: 12px;
  margin-left: 0;
  margin-right: 5px;
  font-size: 13px;
  padding: 0 8px;
  height: 25px;
  line-height: 25px;
}
.ViewModal {
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  border: 1px solid rgb(227, 227, 227);
  background: white;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  top: 40px;
  right: 2.5px;
  width: 250px;
  padding: 5px 0;
}
.ViewOption {
  cursor: pointer;
  padding: 5px 0;
}
.ViewOption:hover {
  background: rgb(245,245,245);
}
.ViewTitle {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 14px;
}
.ViewTitle svg {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.ViewInfo {
  padding: 0 10px;
  font-size: 13px;
  color: rgb(120,120,120);
}
