.NavBar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  padding: 8px 4px 0 4px;
  transition: width 250ms;
}
.Input input {
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 0 8px;
  border-radius: 4px;
  color: white;
  background: transparent;
  font-weight: bold;
  font-size: 18px;
  transition: background 200ms;
  height: 33px;
  margin: 0 3px;
  box-sizing: border-box;
  max-width: calc(100vw - 30px);
  margin: 0 3px 4px 3px;
}
.InputContracted input {
  max-width: calc(100vw - 380px);
}
.Input input:hover {
  background: rgb(255,255,255,0.4);
}
.Input input:focus {
  cursor: text;
  background: white;
  color: black !important;
}
.StarBtn button {
  height: 33px;
  width: 33px;
  line-height: 33px;
  font-size: 14px;
  transition: 200ms;
  margin-bottom: 4px;
}
.StarBtn svg {
  transition: 200ms;
}
.Highlight svg {
  color: rgb(255, 222, 0);
}
.StarBtn button:hover svg {
  transform: scale(1.1);
}
.Separator {
  height: 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 8px 4px 9px;
}
.AccountBtn button {
  margin: 0 4px 4px 4px;
  width: 29px;
  height: 29px;
  font-size: 15px;
}
.Btn button {
  height: 33px;
  line-height: 33px;
  padding: 0 6px;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 4px;
}
.MenuBtn button, .RoadBtn button {
  padding-right: 10px;
}
.RoadBtn svg {
  margin-right: 3px;
  width: 15px;
  height: 15px;
}
.RoadBtn2 svg {
  margin: 0 5px 0 2px;
}
.MenuBtns {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Container {
  position: relative;
}
.DarkenBtns .StarBtn button, .DarkenBtns .Input input:hover, .DarkenBtns .Btn button {
  background: rgba(0,0,0,0.1);
}
.DarkenBtns .StarBtn button:hover, .DarkenBtns .Btn button:hover {
  background: rgba(0,0,0,0.2);
}
.DarkenBtns .Input input {
  color: rgb(50,50,50);
}
.DarkenBtns2 .StarBtn button, .DarkenBtns2 .Btn button {
  background: rgba(0,0,0,0.3);
}
.DarkenBtns2 .StarBtn button:hover, .DarkenBtns2 .Btn button:hover {
  background: rgba(0,0,0,0.4);
}
.AdminIcon {
  font-size: 16px;
  position: absolute;
  bottom: -3.5px;
  right: 2px;
  color: rgb(85,85,85);
}
