.Container {
  margin: 15px 18px 10px 47px;
}
@media (max-width: 610px) {
  .Container {
    margin: 10px;
  }
}
.Title {
  color: rgb(var(--darkGray));
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.Labels {
  display: flex;
  flex-wrap: wrap;
}
.Label {
  width: 40px;
  height: 32px;
  border-radius: 4px;
  margin-right: 4px;
}
.Btn {
  position: relative;
}
.AddBtn {
  padding: 5px;
}
