.Container {
  width: 100%;
  height: 100%;
  transition: width 250ms;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(245,245,245);
  padding: 10px 0;
  box-sizing: border-box;
}
.ContainerSmall {
  width: calc(100% - 350px);
}
.Container::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Container::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.DataCard {
  background: white;
  border-radius: 4px;
  width: calc(50% - 30px);
  max-width: 600px;
  box-shadow: var(--cardShadow);
  margin: 20px 10px;
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .ContainerSmall {
    padding: 10px;
  }
  .ContainerSmall .DataCard {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .Container .DataCard {
    width: 100%;
  }
  .Container {
    padding: 10px;
  }
}
.Title {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -5px 30px 0;
}
.ChartBtns {
  margin-left: auto;
}
.ChartBtns button {
  margin: 0 5px;
}
.ChartBtns svg {
  margin-right: 5px;
}
.NoData {
  text-align: center;
  margin-top: 40px;
}
