.Container {
  width: 100%;
  height: 100%;
  transition: width 250ms;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(245,245,245);
  padding: 10px 0;
  box-sizing: border-box;
}
.ContainerSmall {
  width: calc(100% - 350px);
}
.Container::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Container::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.Container::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.DataCard {
  background: white;
  border-radius: 4px;
  width: calc(50% - 30px);
  max-width: 600px;
  box-shadow: var(--cardShadow);
  margin: 20px 10px;
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .ContainerSmall {
    padding: 10px;
  }
  .ContainerSmall .DataCard {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .Container .DataCard {
    width: 100%;
  }
  .Container {
    padding: 10px;
  }
}
.Title {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.NoData {
  text-align: center;
  padding-top: 10px;
}
.Options {
  margin-left: auto;
  position: relative;
}
.OptionsBtn {
  color: rgb(50,50,50);
  border-radius: 4px;
  padding: 7px 6px;
  font-size: 16px;
  transition: all 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.OptionsBtn:hover {
  color: black;
  background: rgb(230,230,230);
}
.CardOptions {
  top: 35px;
  right: 0;
  padding: 10px 0;
  width: 200px;
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  border: 1px solid rgb(227, 227, 227);
  background: white;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
}
.Option {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.Option svg {
  margin-right: 7px;
  color: rgb(50,50,50);
}
.Option:hover {
  background: rgb(245,245,245);
}
