.react-datepicker__time-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-datepicker-popper {
  transform: translate3d(5px, 70px, 0px) !important;
}
.NoStartDatePicker .react-datepicker-popper {
  transform: translate3d(15px, 90px, 0) !important;
}
.react-datepicker__day--in-selecting-range {
  background: rgb(var(--red), 0.6) !important;
  color: white !important;
}
.react-datepicker__day--in-selecting-range:hover, .react-datepicker__time-list-item--selected {
  background: rgb(var(--red)) !important;
}
.react-datepicker__day--selected, .react-datepicker__day--in-range {
  background: rgb(var(--red)) !important;
  color: white !important;
}
.react-datepicker__day--keyboard-selected {
  background: rgb(var(--red), 0.6) !important;
}
.react-datepicker {
  max-height: 235.2px;
  overflow: hidden;
}
