.Container {
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.DatePicker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
.DatePicker * {
  outline: none;
}
.Btns {
  margin: auto auto 5px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}
.Btns button {
  font-weight: 400;
  width: 80px;
  padding: 8px 0;
  font-size: 15px;
  margin: 0 10px;
}
.SaveBtn {
  background: rgba(var(--green), 0.8);
}
.SaveBtn:hover, .SaveBtn:active {
  background: rgb(var(--green));
}
.Input {
  border: 2px solid rgb(var(--lightGray));
  border-radius: 4px;
  padding: 7px;
  background: rgb(244, 244, 244);
  transition: background 250ms;
  display: block;
  margin: 0 auto 5px;
}
.Input:hover {
  background: rgb(235,235,235);
}
.Input:focus {
  border: 2px solid rgb(var(--red));
  background: white;
}
