.Container {
  width: 20%;
  display: inline-block;
  margin-top: 10px;
}
.Title, .Title2 {
  color: rgb(var(--darkGray));
  font-size: 14px;
  font-weight: 500;
}
.Title2 {
  margin-top: 20px;
}
.Btn button {
  width: 100%;
  justify-content: flex-start;
  margin: 5px 0;
}
.Btn button svg {
  margin: 0 10px 0 5px;
  font-size: 15px;
}
.BtnContainer {
  position: relative;
  z-index: 1;
}
