.Container {
  position: fixed;
  width: 300px;
  background: white;
  transition: 250ms;
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 15px;
  margin: 3px 0 0 3px;
}
.Select {
  padding: 10px 10px 0;
}
.Label {
  font-weight: 500;
  font-size: 13px;
}
.Select select {
  margin-top: 3px;
  width: 100%;
  padding: 3px 0;
}
.AddBtn {
  outline: none;
  padding: 8px 13px;
  font-size: 14.5px;
  background: rgb(var(--green));
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background 250ms;
  margin: 15px 0 0;
}
.AddBtn:hover {
  background: rgba(var(--green), 0.85);
}
.AddBtn:active {
  background: rgb(21, 145, 27);
}
.AddBtn:disabled {
  cursor: not-allowed;
  background: rgb(220,220,220);
}
.ErrMsg {
  text-align: center;
  font-size: 14px;
  margin: 10px 0 5px;
  padding: 0 10px;
}
