.ShowModal, .HideModal {
  position: fixed;
  top: 60px;
  width: 450px;
  left: calc(50% - 225px);
  z-index: 2;
  transition: 300ms;
}
.HideModal {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}
.Input {
  border-radius: 2px;
  outline: none;
  border: 0;
  background: rgb(255,255,255,0.3);
  transition: 250ms;
  padding: 5px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  width: 240px;
  margin: 10px;
}
.Input:focus, .Input:hover {
  background: rgb(255,255,255,0.5);
}
.Input::placeholder {
  color: rgb(255,255,255,0.7);
}
.CloseBtn {
  position: absolute;
  right: 0;
  top: 0;
}
.CloseBtn svg {
  width: 22px;
  height: 22px;
}
.ModalContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.ModalLeft {
  width: 300px;
  height: 115px;
  border-radius: 4px;
  background-size: cover;
  position: relative;
}
.BackgroundSelect {
  width: 130px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}
.Option {
  width: 35px;
  height: 35px;
  margin: 0 3px 3px 3px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.ShowOverlay, .HideOverlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.07);
  position: absolute;
  top: 0;
  left: 0;
}
.HideOverlay {
  opacity: 0;
}
.Option:hover .HideOverlay {
  opacity: 1;
}
.ConfirmBtn {
  margin-top: 5px;
  padding-left: 5px;
}
.ConfirmBtn button {
  background: rgb(57,167,50);
  padding: 15px;
}
.ConfirmBtn button:hover, .ConfirmBtn button:active {
  background: rgb(var(--green));
}
.ConfirmBtn button:disabled {
  cursor: default;
  background: rgb(113,113,113);
}
.ShowMore {
  background: rgb(240,240,240);
}
.ShowMore:hover .HideOverlay {
  opacity: 1;
}
.ShowMore svg {
  color: rgb(50,50,50);
  transform: rotate(90deg);
}
.BoardTeam {
  color: rgba(255,255,255,0.8);
  border-radius: 4px;
  background: rgb(255,255,255,0.3);
  display: inline-flex;
  align-items: center;
  margin: 0 15px 0 10px;
  font-size: 14.5px;
  padding: 4px 6px;
  cursor: pointer;
  transition: background 250ms;
  min-width: 0;
}
.TeamTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 225px;
}
.BoardTeam:hover {
  background: rgb(255,255,255,0.4);
}
.TeamIcon, .Chevron {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TeamIcon svg {
  margin-right: 4px;
  font-size: 16px;
  min-width: 16px;
}
.Chevron svg {
  margin-left: 5px;
  font-size: 13px;
  min-width: 13px;
}
.TeamSelect {
  position: absolute;
  top: 75px;
  left: 10px;
  width: 250px;
  border-radius: 4px;
  background: rgb(252,252,252);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14.5px;
  padding: 8px 0;
  box-sizing: border-box;
  max-height: min(calc(100vh - 140px), 350px);
  z-index: 2;
}
.TeamSelect::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.TeamSelect::-webkit-scrollbar {
  width: 10px;
  border-radius: 15px;
  background: rgb(225, 225, 225);
}
.TeamSelect::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(197, 197, 197);
}
.SelectOption {
  padding: 6px 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.SelectOption div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.SelectOption svg {
  padding-left: 2px;
  margin: 0 2px 0 auto;
  min-width: 16px;
  font-size: 16px;
}
.SelectOption:hover {
  background: rgb(240,240,240);
}
@media (max-width: 470px) {
  .ModalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Option {
    width: 50px;
  }
  .BackgroundSelect {
    width: 250px;
    margin-top: 10px;
  }
  .ConfirmBtn {
    display: flex;
    width: 250px;
    justify-content: center;
    margin: 10px auto 0;
  }
}
