.Container {
  max-width: 450px;
  width: 96%;
  top: 0;
  left: max(calc(50% - 225px), 2%);
  padding: 5px;
  font-size: 15px;
}
.Container::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 1px;
  visibility: hidden;
  bottom: -20px;
}
.InviteBtn {
  display: block;
  outline: none;
  padding: 8px 10px;
  font-size: 14px;
  background: rgb(var(--green));
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background 250ms;
  box-sizing: border-box;
  max-width: 250px;
  margin: 15px auto 20px;
}
.InviteBtn:hover {
  background: rgba(var(--green), 0.85);
}
.InviteBtn:active {
  background: rgb(21, 145, 27);
}
.Container p {
  font-size: 14px;
  text-align: center;
}
.EmailChipInput {
  width: 95%;
  max-width: 390px;
  margin: auto;
}
