.Container {
  margin: 10px 15px 0 45px;
}
.Input {
  resize: none;
  border: 2px solid rgb(var(--red));
  border-radius: 3px;
  outline: none;
  background: white;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', -apple-system, sans-serif;
  overflow: hidden;
  font-size: 14px;
}
