.Container {
  position: fixed;
  width: 300px;
  background: white;
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  padding: 5px 5px 15px;
  box-sizing: border-box;
  font-size: 15px;
  margin: 3px 0 0 3px;
  max-height: 400px;
  overflow: auto;
}
.Input {
  width: 96%;
  margin: 0 auto 10px;
}
.Members {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
}
.BackBtn {
  position: absolute;
  left: 5px;
  top: 5px;
}
