.AccountInfo {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.NameIcon {
  width: 40px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  background: #ddd;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}
.Email {
  font-size: 14px;
  font-weight: 300;
  color: rgb(122, 122, 122);
  margin-top: 3px;
}
.Name, .Email {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.NameIcon:hover {
  background: #c7c7c7;
}
.Details {
  width: 210px;
  overflow: hidden;
}
