.Container {
  position: fixed;
  width: 260px;
  background: white;
  transition: 250ms;
  box-shadow: var(--box-shadow4);
  border-radius: 4px;
  padding: 10px 0 20px;
  box-sizing: border-box;
  font-size: 15px;
  margin: 3px 0 0 3px;
}
.Input input {
  display: block;
  margin: 15px auto;
  width: 230px;
  box-sizing: border-box;
  border: 2px solid #eee;
  border-radius: 4px;
  padding: 6px;
  transition: all 250ms;
  outline: none;
  font-size: 15px;
}
.Input input:focus {
  border: 2px solid rgb(var(--red), 0.8);
}
.Input input::placeholder {
  color: rgb(180, 180, 180);
}
.Input button {
  display: flex;
  background: rgba(var(--green), 0.8);
  padding: 15px;
  margin: 15px auto 0;
}
.Input button:hover, .Input button:active {
  background: rgb(var(--green));
}
.Input button:disabled {
  background: rgba(0,0,0,0.1);
}
.ErrMsg {
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
}
