.Container {
  max-width: 400px;
  width: 96%;
  top: 75px;
  left: max(calc(50% - 200px), 2%);
  padding: 5px;
  font-size: 14px;
}
.Container p {
  text-align: center;
  padding: 0 20px;
}
.LeaveBtn {
  margin: 20px auto 10px;
  width: 96%;
  max-width: 300px;
}
.CannotLeave {
  margin: 20px 0;
  text-align: center;
}
