.Select {
  background: rgb(240, 240, 240);
  border-radius: 4px;
  padding: 5px 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.Select:hover {
  background: rgb(230,230,230);
}
.SelectTitle {
  color: rgb(var(--darkGray));
  font-size: 13px;
  margin-bottom: 5px;
}
.SelectVal {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14.5px;
}
.SelectModal {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  background: white;
  box-shadow: var(--box-shadow4);
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.SelectModal div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14.5px;
  padding: 10px 5px;
}
.SelectModal div:hover {
  background: rgb(var(--red), 0.3);
}
