.Container {
  padding-top: 70px;
  padding-bottom: 10px;
  padding-left: max(5%, calc(50% - 435px));
  padding-right: max(5%, calc(50% - 435px));
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 40px;
  height: calc(100vh - 40px);
}
.Title {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.Title svg {
  margin-right: 8px;
  font-size: 22px;
}
