.Container {
  margin: 100px auto 0;
  padding: 10px;
  width: 80%;
  max-width: 850px;
}
.Title {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.Title svg {
  margin-right: 8px;
  font-size: 22px;
}
