.Container {
  bottom: 20px;
  left: 75px;
  padding: 5px 5px 10px;
  width: 300px;
  text-align: center;
  font-size: 15px;
}
.DeleteBtn {
  background: rgb(219, 55, 29);
  font-weight: 400;
  font-size: 15px;
  padding: 5px 10px;
  display: flex;
  width: calc(100% - 20px);
  margin: 0 auto;
}
.DeleteBtn:hover, .DeleteBtn:active {
  background: rgb(213, 5, 5);
}
